@page
@model IdentityServerHost.Pages.Admin.IndexModel
@{
}

<div class="admin-page">
    <h2>
        Duende IdentityServer Admin
    </h2>

    <div class="row">
        <p>There are simple administrative pages provided below for configuring your EF-based IdentityServer configuration.</p>
    </div>

    <div class="row">
        <ul class="list-unstyled">
            <li><a asp-page="/Admin/Clients/Index">Clients</a></li>
            <li><a asp-page="/Admin/ApiScopes/Index">API Scopes</a></li>
        </ul>
    </div>
</div>

